<svg
		class="{classes}"
		height="50"
		on:click="fire('select', {event})"
		width="50"
>
	<g>
		<circle cx="25" cy="25" fill="#fff" stroke="#0b0" stroke-width="3" r="23"/>
		<line stroke="#0b0" stroke-width="8" x1="13" x2="37" y1="38" y2="12"/>
		<line stroke="#0b0" stroke-width="11" x1="38" x2="26" y1="25" y2="14"/>
		<line stroke="#0b0" stroke-width="6" x1="20" x2="36" y1="12" y2="26"/>
		<line stroke="#0b0" stroke-width="8" x1="26" x2="26" y1="10" y2="17"/>
	</g>
</svg>