<var
		style="border-color: #{color}"
>
	<FactorsIcon
			color="{color}"
	></FactorsIcon>
</var>

<style>
	var {
		border: 1px solid black;
		border-bottom: 3px double black;
		border-radius: 4px;
		border-top: 3px double black;
		display: block;
		padding: 1px 3px;
		height: 50px;
		width: 50px;
	}
</style>

<script>
	import FactorsIcon from '../../icon/FactorsIcon.html'

	export default {
		components: {
			FactorsIcon
		},
		data() {
			return {
				color: '000'
			}
		}
	}

</script>