<svg
		class="{classes} {reverse} {swapped}"
		height="{size}"
		on:click="press(reversed)"
		viewBox="{viewBox(size)}"
		width="{size}"
>
	<g class="layer">
		<circle
				cx="25"
				cy="25"
				fill="#{fillColor}"
				r="{circleRadius}"
				stroke="#{highlightColor}"
				stroke-width="{strokeWidth}"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="18"
				x2="18"
				y1="14"
				y2="38"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="32"
				x2="32"
				y1="12"
				y2="36"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="26"
				x2="33"
				y1="30"
				y2="37"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="31"
				x2="38"
				y1="37"
				y2="30"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="12"
				x2="19"
				y1="20"
				y2="13"
		/>
		<line
				stroke="#000"
				stroke-width="4"
				x1="17"
				x2="24"
				y1="13"
				y2="20"
		/>
	</g>
</svg>
<style>
	svg {
		-webkit-transition: .4s;
		transition: .4s;
	}

	svg.reversed {
		transform: rotate(180deg);
	}

	.swap {
		position: absolute;
		top: -14px;
	}
</style>
<script>
	export default {
		computed: {
			reverse: ({reversed}) => reversed ? 'reversed' : '',
			swapped: ({swap}) => swap ? 'swap' : ''
		},
		data() {
			return {
				add: true,
				classes: '',
				circleRadius: 23,
				fillColor: 'fff',
				highlightColor: '000',
				reversed: false,
				strokeWidth: 3,
				size: 50
			}
		},
		helpers: {
			viewBox: (size) => size === 50 ? '' : '0 0 50 50'
		},
		methods: {
			press(
				reversed
			) {
				this.set({reversed: !reversed})
				this.fire('select', {event})
			}
		}
	}
</script>
