{#if showOptions(voteDims, i)}
<!--
<div
		class="container"
>
	<label
			on:click="fire('setOutcome', 1)"
	>
		<input
				bind:group="direction"
				type="radio"
				value={1}
		>
		<span
				class="top choice"
		></span>
	</label>
</div>
<div
		class="container"
>
</div>
<div
		class="container"
>
	<label
			on:click="fire('setOutcome', -1)"
	>
		<input
				bind:group='direction'
				type="radio"
				value={-1}
		>
		<span
				class="bottom choice"
		></span>
	</label>
</div>
-->
<Toggle
		toggled="{direction === 1 ? false : true}"
		on:select="fire('setOutcome', event ? -1 : 1)"
		vertical="{true}"
></Toggle>
{/if}
<!--
<style>
	input[type="radio"] {
		display: none;
	}

	.choice {
		border: 3px solid #000;
		border-radius: 50%;
		color: black;
		display: block;
		height: 25px;
		margin: 10px;
		width: 25px;
	}

	/* Customize the label (the container) */
	.container {
		height: 24px;
		cursor: pointer;
		margin-bottom: 15px;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container input {
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.choice {
		top: 0;
		left: 0;
		height: 24px;
		width: 24px;
	}

	/* Create the choice/indicator (hidden when not checked) */
	.choice:after {
		content: "";
	}

	/* Show the choice when checked */
	.container input:checked ~ .choice:after {
		display: block;
	}

	/* Style the choice/indicator */
	.container .choice:after {
		background: black;
		border-radius: 50%;
		height: 12px;
		left: 3px;
		position: relative;
		top: 3px;
		width: 12px;
	}
</style>
-->
<script>
	import Toggle from '../../../../public-ui/src/common/field/Toggle.html'

	export default {
		components: {
			Toggle
		},
		helpers: {
			showOptions: (
				voteDims,
				index
			) => {
				if (index === 0) {
					return true
				}
				return voteDims[index].dir
			}
		}
	}
</script>
