{#if $forms}
<label
				class="field-label"
				for="country"
				use:for="{id}"
>Country</label>
<select
				id="country"
				use:id="{id}"
>
	<option>
		Canada
	</option>
</select>
{#if touched}
{#each errors as error}
<span class="pure-form-message error">{error.message}</span>
{/each}
{/if}
{/if}

<style>
	select {
		width: 100%;
	}
</style>

<script>
	import store from '@votecube/vc-logic/src/store.js'

	export default {
		actions: {
			for(node, id) {
				if (id) {
					node.id = id;
				}
			},
			id(node, id) {
				if (id) {
					node.id = id;
				}
			},
			maxlength(node, maxLength) {
				if (maxLength) {
					node.maxLength = maxLength;
				}
			}
		},
		computed: {
			errors: ({delta, field}) => field.errors,
			label: ({delta, field}) => field.label,
			placeholder: ({delta, field}) => field.placeholder,
			touched: ({delta, field}) => field.touched
		},
		immutable: true,
		methods: {
			onBlur(event) {
				this.get().field.onBlur()
			},
			onInput(event) {
				console.log('onInput');
				this.get().field.onInput()
			}
		},
		oncreate() {
			this.get().field.setAsField(this)
		},
		ondestroy() {
			this.get().field.removeComponent(this)
		},
		store: () => store
	}
</script>
