{#await load}
{:then result}
<tr>
	<td
			class="icon"
	>
		<figure
				style="
            background-color: #{logicUtils.getColor(factor.color)};
        "
		>
		</figure>
	<td
			class="description"
	>
		{factor.name}
	</td>
</tr>
{/await}
<style>
	td {
		border: 1px solid #f8f8f8;
		height: 62px;
	}

	.description {
		border-left: none;
		width: calc(100% - 60px)
	}

	.icon {
		border-right: none;
		width: 62px;
	}

	figure {
		border-radius: 3px;
		margin: auto;
		height: 42px;
		width: 42px;
	}
</style>
<script>

	import {DI}          from '@airport/di'
	import {LOGIC_UTILS} from '@votecube/vc-logic'

	export default {
		data() {
			return {
				load: new Promise((resolve) => {
					setTimeout(() => {
						resolve(initPage())
					}, 1)
				})
			}
		},
		oncreate() {
			initPage.page = this
		},
		ondestroy() {
			const {container} = this.get()
			DI.remove(container)
		},
		immutable: true
	}

	async function initPage() {
		const container  = DI.ui('LinearPositionPicker')
		const logicUtils = await container.get(LOGIC_UTILS)

		initPage.page.set({container, logicUtils})
	}

</script>
