{#if form}
<form>
	<div class="pure-control-group">
		<AutoComplete
				field="{form.fields.theme}"
		></AutoComplete>
	</div>
	<div class="pure-control-group">
		<MultiSelect
				field="{form.fields.labels}"
		></MultiSelect>
	</div>
</form>
<table>
	{#each factors as factor}
	<FactorListItem
			factor="{factor}"
	></FactorListItem>
	{/each}
</table>
<!--
<VirtualList items={factors} component={ListItem} />
-->
{/if}

<style>
	table {
		width: 100%;
	}
</style>
<script>
	import {DI}           from '@airport/di'
	import {FACTOR_DAO}   from '@votecube/relational-db'
	// import VirtualList from '@sveltejs/svelte-virtual-list';
	import AutoComplete   from '../../../common/field/AutoComplete.svelte'
	import MultiSelect    from '../../../common/field/MultiSelect.html'
	import {
		clearForm,
		ensureForm,
		navigateOnValid
	}                     from '../../../form/forms'
	import {loadForms}    from '../../../libs/forms'
	import {FACTOR_LIST}  from '@votecube/vc-logic/src/routes'
	import store          from '@votecube/vc-logic/src/store'
	import FactorListItem from './FactorListItem.html'

	export default {
		components: {
			AutoComplete,
			FactorListItem,
			MultiSelect,
			// VirtualList
		},
		methods: {
			submit() {
				navigateOnValid(this, FACTOR_LIST)
			}
		},
		oncreate() {
			initPage(this).then()
		},
		ondestroy() {
			clearForm(this)
			const {container} = this.get()
			DI.remove(container)
		},
		store: () => store
	}

	async function initPage(page) {
		const container  = DI.ui('FactorList')
		const factorDao  = await container.get(FACTOR_DAO)
		const filterForm = await initForm(page)

		const factors = await factorDao.getAll()

		page.set({container, factors})
		ensureForm(filterForm, this)
	}

	async function initForm(page) {
		const formFactory = await loadForms(page.store)

		const filter = formFactory.group('List', {
			theme: formFactory.options([
				// Validators.required()
			], [{
				id: 1,
				text: 'Politics'
			}, {
				id: 2,
				text: 'Culture'
			}, {
				id: 3,
				text: 'Technology'
			}, {
				id: 4,
				text: 'Space'
			}, {
				id: 5,
				text: 'Security'
			}]),
			labels: formFactory.options([], [{
				id: 1,
				text: 'Trump',
				theme: {
					id: 1
				}
			}, {
				id: 2,
				text: 'Integration',
				theme: {
					id: 1
				}
			}], {
				multi: true
			})
		}, [], page.store.get().text.UI.Factor)

	}
</script>
