{#await productsData}
<p>Loading Products</p>
{:then products}
<div class="Grid">
	{#each products.data as product, index}
	<div style="background: {product.background_colour}" class="Cell -4of12">
		<h2>{product.name}</h2>
		<p>{product.description}</p>
		<ProductImage productInfo={products.included.main_images[0]}/>
	</div>
	{:else}
	<p>No Products Available</p>
	{/each}
</div>
{:catch error}
<p>Could Not Load Products</p>
{/await}

<script>
	import {Store}       from 'svelte/store';
	import {GetProducts} from '../moltin';

	let Products = new Store({})

	async function loadProducts() {
		let {data} = Products.get();
		if (data) {
			return data;
		} else {
			data = GetProducts()
			Products.set({data})
		}
		return data
	}

	export default {
		data() {
			return {
				productsData: loadProducts()
			}
		},

		components: {
			ProductImage: '../components/Products/ProductImage'
		}
	};
</script>