<style>
	article {
		padding: 0 10px 0 10px;
		position: initial;
		text-align: center;
	}
</style>

<article>
	<h3>Alpha - voting</h3>

	<ul>
		<li>Opinions: ability to record your comments</li>
		<li>Labels: ability to label polls</li>
		<li>Review & publish polls</li>
		<li>Voting: recording your votes on polls</li>
		<li>Vote totals</li>
		<li>Ranking of polls by vote counts</li>
		<li>Realtime vote total updates</li>
	</ul>

	<h3>Beta - analytics</h3>

	<ul>
		<li>Ranking of polls</li>
		<li>Ranking of opinions</li>
		<li>Ranking of users</li>
		<li>Poll result verification</li>
		<li>Advertisements</li>
	</ul>

	<h3>General Availability Release</h3>

	<ul>
		<li>Private polls</li>
	</ul>
</article>
