<nav
				class="custom-menu-toggle {closeMenuClass}"
				id="toggle"
				on:click="$toggleTopMenu()"
>
	<s class="bar"></s>
	<s class="bar"></s>
</nav>

<script>
	import store from '@votecube/public-logic/src/store.js';

	export default {
		computed: {
			closeMenuClass: ({$showTopMenu}) => $showTopMenu ? 'x' : ''
		},
		store: () => store
	}
</script>