<div
				class="{tuckedClass} pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom"
				id="tuckedMenu"
>
	{#if showTopMenuScreen}
	<div
					class="custom-menu-screen"
					class:customMenuScreen="showTopMenu"
	></div>
	{/if}
	{#if showTopMenu}
	<ul
					class="pure-menu-list"
	>
		<svelte:component
						on:setViewType="setViewType(event)"
						this="{TopMenuComp}"
		/>
	</ul>
	{/if}
</div>

<style>
	div.pure-menu {
		overflow: initial;
	}

	ul {
		float: left;
		padding-right: 5px;
		width: 100%;
	}

	.customMenuScreen {
		background-color: rgba(0, 0, 0, 0.5);
	}

	#tuckedMenu {
		float: right;
	}
</style>

<script>
	import * as routes from '@votecube/public-logic/src/routes'
	import store       from '@votecube/public-logic/src/store.js'

	export default {
		computed: {
			tuckedClass({$showMainMenu, $showTopMenu}) {
				return !$showMainMenu && $showTopMenu
					? ''
					: 'custom-menu-tucked'
			},
			// TopMenuComp({$currentPage}) {
			// 	return routes.getTopMenuComponent()
			// },
			showTopMenu({$showTopMenu, $isDesktop, TopMenuComp}) {
				return ($showTopMenu || $isDesktop) && TopMenuComp
			},
			showTopMenuScreen({$isDesktop}) {
				return !$isDesktop
			}
		},
		methods: {
			setViewType(
				view
			) {
				this.store.toggleTopMenu(false)
				this.fire('setViewType', view)
			}
		},
		store: () => store
	}
</script>