<svg width="28" height="28">
	<g>
		<line stroke="#fff" y2="26" x2="8" y1="8" x1="8" stroke-width="3"/>
		<line stroke="#fff" y2="26" x2="26" y1="8" x1="26" stroke-width="3"/>
		<line stroke="#fff" y2="8" x2="26" y1="8" x1="8" stroke-width="3"/>
		<line stroke="#fff" y2="26" x2="26" y1="26" x1="8" stroke-width="3"/>
		<line stroke="#fff" y2="1" x2="17" y1="1" x1="1" stroke-width="3"/>
		<line stroke="#fff" y2="17" x2="1" y1="1" x1="1" stroke-width="3"/>
		<line stroke="#fff" y2="9" x2="17" y1="1" x1="17" stroke-width="3"/>
		<line stroke="#fff" y2="17" x2="8" y1="17" x1="1" stroke-width="3"/>
	</g>
</svg>