<svg width="29" height="42">
	<g>
		<path
						d="m25.56604,39.35091c-4.38756,4.44436 -11.17485,5.34945 -16.54847,2.20697c-5.37362,-3.14268 -7.99349,-9.54936 -6.3875,-15.62044c1.606,-6.07104 7.03728,-10.29256 13.24212,-10.29256l9.69385,23.70604l0,0l0,-0.00001z"
						fill="#000"
						stroke="#000"
						transform="rotate(-68 13.863860130310055,29.531736373901364) "
		/>
		<polygon
						fill="#000"
						transform="rotate(-90 14.539600372314455,11.503366470336916) "
						points="25.16106605529785,11.503373742103577 3.918138027191162,24.761247277259827 3.918138027191162,-1.7545140981674194 25.16106605529785,11.503373742103577 "
		/>
	</g>
</svg>