<svg
				class="{classes}"
				height="42"
				width="42"
>
	<g>
		<line stroke="#{color}" stroke-width="3" y2="25" y1="42" x2="21"/>
		<line stroke="#{color}" stroke-width="3" y2="25" y1="42" x2="21" x1="42"/>
		<line stroke="#{color}" stroke-width="3" y2="27" y1="3" x2="21" x1="21"/>
		<line stroke="#{color}" stroke-width="3" y2="31" y1="41" x2="5" x1="1"/>
		<line stroke="#{color}" stroke-width="3" y2="39" y1="41" x2="12" x1="1"/>
		<line stroke="#{color}" stroke-width="3" y2="41" y1="31" x2="41" x1="37"/>
		<line stroke="#{color}" stroke-width="3" y2="0" y1="11" x2="21" x1="27"/>
		<line stroke="#{color}" stroke-width="3" y1="11" x2="21" x1="15"/>
		<line stroke="#{color}" stroke-width="3" y2="42" y1="39" x2="42" x1="30"/>
	</g>
</svg>
<script>
	export default {
		data() {
			return {
				color: '000'
			}
		}
	}
</script>