<svg width="42" height="42">
	<g>
		<line stroke-width="3" x1="21" y1="3" x2="21" y2="39" stroke="#000000"/>
		<line stroke-width="3" x1="21" y1="40" x2="13" y2="26" stroke="#000000"/>
		<line stroke-width="3" x1="29" y1="16" x2="21" y2="2" stroke="#000000"/>
		<line stroke-width="3" x1="21" y1="40" x2="29" y2="26" stroke="#000000"/>
		<line stroke-width="3" x1="13" y1="16" x2="21" stroke="#000000" y2="2"/>
		<line stroke-width="2" x1="20" y1="1" x2="22" y2="1" transform="rotate(45 21,1) "
		      stroke="#000000"/>
		<line stroke-width="2" x1="20" y1="41" x2="22" y2="41" transform="rotate(45 21.3,40.9) "
		      stroke="#000000"/>
	</g>
</svg>