<svg
				width="42"
				height="42"
>
	<g>
		<polygon
						fill="#fff"
						points="16,2 7,10 7,40 35,40 35,10 26,2"
						stroke="#000"
						stroke-width="4"
		></polygon>
		<circle
						cx="21"
						cy="14"
						fill="#000"
						r="5"
		></circle>
	</g>
</svg>