<svg
				class="{classes}"
				height="42"
				style="{inverse
    ? 'transform : rotate(180deg)'
    : ''}"
				width="42"
>
	<g>
		<line stroke="#000" id="svg_2" y2="42" x2="21" y1="3" x1="21" stroke-width="5"/>
		<line stroke="#000" id="svg_4" y2="2" x2="20" y1="22" x1="34" stroke-width="5"/>
		<line stroke="#000" y2="2" id="svg_7" x2="22" y1="22" x1="8" stroke-width="5"/>
		<line stroke="#000" transform="rotate(45 21,1) " id="svg_8" y2="1" x2="22" y1="1" x1="20"
		      stroke-width="2"/>
	</g>
</svg>