<slot name="icon"></slot>
<!--<li
				class="viewType"
>
	<FilterIcon
	></FilterIcon>
</li>-->

<style>
	.viewType {
		color: white;
		float: right;
		font-size: 1.25em;
		height: 32px;
		line-height: 28px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 4px;
		text-align: center;
		vertical-align: middle;
		width: 34px;
	}
</style>

<script>
	import * as routes from '@votecube/public-logic/src/routes'
	import store       from '@votecube/public-logic/src/store.js'

	export default {
		computed: {
			// showCube({$currentPage}) {
			// 	return $currentPage.key === routes.POLL_INFO_CHART
			// },
			//
			// showChart({$currentPage}) {
			// 	return $currentPage.key === routes.POLL_MAIN
			// },
		},
		data() {
			return {
				routes: {
					cube: routes.POLL_MAIN,
					// chart: routes.POLL_INFO_CHART
				}
			}
		},
		methods: {
			setViewType(
				type
			) {
				this.fire('setViewType', {
					type,
					params: this.store.get().routeParams
				})
			}
		},
		store: () => store
	}

</script>