<style>
	article {
		padding: 0 10px 0 10px;
		position: initial;
		text-align: center;
	}

	h1 {
		color: #A0A0A0;
		font-size: 33px;
		margin: 0;
	}

	h2 {
		color: black;
		font-weight: normal;
		margin-top: 0px;
	}

	footer {
		margin: 15px;
	}

	section header {
		font-weight: bold;
		margin: 5px;
	}

	section {
		margin-top: 15px;
	}
</style>

<article>

	<figure>
		<svg width="345" height="345"
		>
			<g class="layer">
				<title>Votecube</title>
				<polygon fill="yellow"
				         points="298,84 163,164 25,84 161,22 298,84 "/>
				<polygon fill="#b837c8"
				         points="283,235 164,323 165,168 300,88 283,235 "/>
				<polygon fill="rgb(253, 120, 15)"
				         points="161,168 160,324 38,235 23,88 161,168 "/>
			</g>
		</svg>
	</figure>
	<h1>
		VOTECUBE
	</h1>
	<h2>
		decide together
	</h2>
	<h3>
		OUR MISSION
	</h3>
	<p>
		Votecube is a global opinion aggregator. We help solve global issues by connecting
		people locally and internationally.
		We promote cross-cultural understanding on issues that affect everyone across the
		planet by contrasting the voting outcomes.
		We host all content on Social Change and Global Impact without advertisements.
		<br>
		People of all ages are entitled to an opinion. Votecube is engineered from the
		ground up with a parental control system. Polls and opinions must be rated
		for age suitability by their creators. Overall decision of the community
		determines the effective rating of every item.
	</p>
	<h3>
		THE PRODUCT
	</h3>
	<p>
		We make opinion polls fun, engaging and informative.
		<br>
		Our unique multidimensional polls are presented in a form of a positioning game.
		The 3 dimensional form factor of our polls allows to extract meaningful information
		even for 50/50 splits in outcome. The community driven poll design system
		automatically picks the best factors to put into a poll. Our poll extension mechanism
		allows to gather information on any number of factors. Answering Votecube polls
		requires about a minute of user's time.
	</p>
	<h3>
		PRIVACY
	</h3>
	<p>
		Votecube ads are based purely on the content of the polls. We don't use cookies or
		any activity tracking. We are opening the source of our advertisement engine for
		review
		by community.
		<br>
		People should be free who ask and answer the hard, responsible questions. Their
		privacy should be protected. All Votecube data is anonymous by default.
	</p>
	<h3>
		INSIGHT
	</h3>
	<p>
		Votecube polls can be adjusted to better formulate positions. They are extended
		structurally to allow different factor compositions. They are also labeled and rated
		for age suitability. Ultimately the polls are evaluated and voted on.
		<br>
		We use the relations between poll versions, labels and ratings to gain insight on
		their topics. The composite vote of polls is used to understand the public opinion.
		We publish all statistical results of every public poll.
		Vote cube helps you figure out "why it is" and "what to do".
	</p>
	<h3>
		THE FUTURE
	</h3>
	<p>
		Most of personal data should be limited to friends and family.
		We are working on sharing polls directly with the people that matter.
		Our servers won't be aware of these private polls.
		<br>
		Public opinion should be gathered from real people, not bots. And only residents
		should vote in local polls. We are working on keeping public and local polls accurate
		while keeping users anonymous.
	</p>
	<h3>
		Our Team
	</h3>
	<aside>
		<header>
			The people that are making Votecube happen.
		</header>
		<section>
			<header>Artem - the IDEA</header>
			<main>Artem is "the man with the
				plan". His vision and elbow greece launched Votecube into existence.
				Artem is working the user facing part of Votecube.</main>
		</section>
		<section>
			<header>Nick - the KNOWLEDGE</header>
			<main>Nick is "the guy that knows
				why".
				Coming from big data analysis Nick has the experience and expertise to
				analyze our data. He has set out on making our polls useful to the public
				far beyond the obvious. Nick is working on Votecube's analytical
				abilities.</main>
		</section>
		<section>
			<header>Nasim - the
				EXPERIENCE</header>
			<main>Nasim is the "the guy that
				has done it".
				Nasim is a successful entrepreneur who knows what it takes to take an
				idea and make it real. He is providing guidance on many business and
				strategy issues, as well as the social aspects of shared
				knowledge platforms.</main>
		</section>
	</aside>
	<footer>
		Contact Votecube:
		<a href="mailto:info@votecube.com" class="text-primary">info@votecube.com</a>
	</footer>
</article>
