{#if form}
<form>
	<div class="pure-control-group">
		<DatePicker
						field="{form.fields.startDate}"
		></DatePicker>
	</div>
	<div class="pure-control-group">
		<DatePicker
						field="{form.fields.endDate}"
		></DatePicker>
	</div>
	<div class="pure-controls">
		<RightButton
						classes="submitButton"
						highlightColor="{submitHighlight}"
						on:select="submit($routeParams)"
		></RightButton>
	</div>
</form>
{/if}

<script>
	import RightButton    from '../../common/control/button/RightButton.svelte'
	import DatePicker     from '../../common/field/DatePicker.html'
	import * as formCache from '../../form/cache'
	import * as forms     from '../../form/forms'
	import * as routes    from '@votecube/vc-logic/src/routes'
	import store          from '@votecube/vc-logic/src/store'

	export default {
		components: {
			DatePicker,
			RightButton
		},
		computed: {
			submitHighlight: ({isValid}) => isValid
				? '0b0'
				: 'b00'
		},
		immutable: true,
		methods: {
			submit(
				$routeParams
			) {
				// this.set({keepPollId: $routeParams.pollId})
				forms.navigateOnValid(this, routes.POLL_FORM, $routeParams)
			}
		},
		oncreate() {
			formCache.getPollRouteParams(this)
			forms.ensureChildForm(
				forms.CREATE_POLL_TOP, 'timeframe',
				this, routes.POLL_FORM)
			this.store.set({
				pageTitle: 'Poll Time Frame'
			})
		},
		ondestroy() {
			formCache.savePollForm(this).then()
			forms.clearForm(this)
		},
		store: () => store
	}
</script>
